<!-- about.ejs, Zainab Khan-301306385  Date: Monday, October 2, 2023-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href = "css/about.css" rel = "stylesheet" type = "text/css" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   

    <title>Portfolio | Zainab </title>
</head>
<body oncontextmenu="return false">

<!-- pre loader -->
<!-- <div class="loader-container">
  <img draggable="false" src="./assets/images/preloader.gif" alt="">
</div> -->

<!-- navbar starts -->
<header>
        <a href="/" class="logo"><i class="fab fa-node-js"></i> Zainab</a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
            <li><a class="index" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            
            </ul>
        </nav>
</header>
<!-- navbar ends -->
<section class="about" id="about">
    <div id="particles-js"></div>

    <div class="content">
    <br><br><h2>About Me<br/> 
    <p> My name is Zainab, and I am a third-semester Centennial College software engineering student. 
        <br><br>I have a strong interest in technology and programming, and I'm committed to learning more about and developing my abilities in the software development industry. 
        <br><br>I work hard to develop as a learner and prospective software developer with each new semester. 
        <br><br>I'm driven to excel in my chosen field by actively seeking out learning opportunities, taking on difficult tasks, and keeping up with the most recent developments in my field. 
        <br><br>I am certain that I can have a substantial effect by a combination of perseverance and learning.<span class="typing-text"></span></p>
    
    </a>
   </div>
   
   
   <a href="/Resume.pdf"><button>Resume</button></a>
</section>


    <footer>
        <%- include('partials/footer.ejs') %>      
    </footer>


</body>

</html>



    

   