<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom css file link  -->
    <link href = "css/projects.css" rel = "stylesheet" type = "text/css" />

</head>
<body>
    <header>
        <a href="/" class="logo"><i class="fab fa-node-js"></i> Zainab</a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a class="index" href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
</header>
<div class="container">

    <h1 class="heading"> My Projects</h1>

    <div class="box-container">

        <div class="box">
            <img src="images/home.jpg" alt="">
            <h3>Real Estate Website Development</h3>
            <p>For a real estate enthusiast, I had the pleasure of creating a dynamic website where I combined real estate listings, client testimonials, a captivating goal statement, and an easy-to-use contact form. Visitors to the website may explore and find their ideal houses by using it as a platform for exhibiting various properties. Integrating real customer testimonials offers insightful information and fosters trust with new customers. The website's mission statement captures the site's enthusiasm and commitment, and the contact form gives visitors an easy method to get in touch. It was a rewarding experience for me to build this website since it brought together two of my passions: web development and real estate.
                <br>



                
            </p>
            
        </div>

        <div class="box">
            <img src="images/car.jpg" alt="">
            <h3>Advertising New And Unique Car Models</h3>
            <p>In one of my recent projects, I created a captivating web-based advertisement for a car model. It offers a simple yet informative undertanding regarding the model and availibility of the vehicle. With its vibrant visuals the website pursuades viewers to search for this one of a kind automibile, whether it comes to price or where it is located and available for purchse.</p>
            <br>
                <br><br>
                <br><br>
                <br>
                <br>
              
        </div>

        <div class="box">
            <img src="images/math.jpg" alt="">
            <h3>Multiplication Table Generator</h3>
            <p>I developed a dynamic multiplication generator as part of my web development project, allowing users to create tables of any numbers by specifying the desired numbers multiplied. The Multiplication Table Generator is a user-friendly web application that generates multiplication tables based on a user's chosen number. With a simple interface, users input a number and instantly see a multiplication table from 1 to 10. Users can easily customize and adapt the tables to their specific needs. Overall, this project demonstrates my skills in web development and showcases my ability to create interactive and efficient tools for data representation.</p>
            <br>
                <br><br>

        </div>

        

    </div>

</div>

</body>
</html>